body {

  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #000000;
}

table {
  width: 500px;
  height: 400px;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  vertical-align: top;

}

.month {
  vertical-align: middle;
  text-align: center;
}